In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'id': [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3], 
                   'date': ["2020-01-01", "2020-01-01", "2020-01-01", 
                            "2020-01-02", "2020-01-02", "2020-01-02", 
                            "2020-01-03", "2020-01-03", "2020-01-03",
                            "2020-01-04", "2020-01-04", "2020-01-04", 
                            "2020-01-05", "2020-01-05", "2020-01-05"], 
                   'demand': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500]})
df

    id        date  demand
0    1  2020-01-01     100
1    2  2020-01-01     200
2    3  2020-01-01     300
3    1  2020-01-02     400
4    2  2020-01-02     500
5    3  2020-01-02     600
6    1  2020-01-03     700
7    2  2020-01-03     800
8    3  2020-01-03     900
9    1  2020-01-04    1000
10   2  2020-01-04    1100
11   3  2020-01-04    1200
12   1  2020-01-05    1300
13   2  2020-01-05    1400
14   3  2020-01-05    1500

In [3]:
df1 = df.copy()
df1["lag1"] = df1["demand"].shift(1)
df1["lag2"] = df1["demand"].shift(2)
df1

    id        date  demand    lag1    lag2
0    1  2020-01-01     100     NaN     NaN
1    2  2020-01-01     200   100.0     NaN
2    3  2020-01-01     300   200.0   100.0
3    1  2020-01-02     400   300.0   200.0
4    2  2020-01-02     500   400.0   300.0
5    3  2020-01-02     600   500.0   400.0
6    1  2020-01-03     700   600.0   500.0
7    2  2020-01-03     800   700.0   600.0
8    3  2020-01-03     900   800.0   700.0
9    1  2020-01-04    1000   900.0   800.0
10   2  2020-01-04    1100  1000.0   900.0
11   3  2020-01-04    1200  1100.0  1000.0
12   1  2020-01-05    1300  1200.0  1100.0
13   2  2020-01-05    1400  1300.0  1200.0
14   3  2020-01-05    1500  1400.0  1300.0

In [4]:
df2 = df.copy()
df2["lag1"] = df2.groupby("id")["demand"].shift(1)
df2["lag2"] = df2.groupby("id")["demand"].shift(2)
df2

    id        date  demand    lag1   lag2
0    1  2020-01-01     100     NaN    NaN
1    2  2020-01-01     200     NaN    NaN
2    3  2020-01-01     300     NaN    NaN
3    1  2020-01-02     400   100.0    NaN
4    2  2020-01-02     500   200.0    NaN
5    3  2020-01-02     600   300.0    NaN
6    1  2020-01-03     700   400.0  100.0
7    2  2020-01-03     800   500.0  200.0
8    3  2020-01-03     900   600.0  300.0
9    1  2020-01-04    1000   700.0  400.0
10   2  2020-01-04    1100   800.0  500.0
11   3  2020-01-04    1200   900.0  600.0
12   1  2020-01-05    1300  1000.0  700.0
13   2  2020-01-05    1400  1100.0  800.0
14   3  2020-01-05    1500  1200.0  900.0

In [5]:
df3 = df.copy()
df3["lag1"] = df3.groupby("id")["demand"].transform(lambda x: x.shift(1))
df3["lag2"] = df3.groupby("id")["demand"].transform(lambda x: x.shift(2))
df3

    id        date  demand    lag1   lag2
0    1  2020-01-01     100     NaN    NaN
1    2  2020-01-01     200     NaN    NaN
2    3  2020-01-01     300     NaN    NaN
3    1  2020-01-02     400   100.0    NaN
4    2  2020-01-02     500   200.0    NaN
5    3  2020-01-02     600   300.0    NaN
6    1  2020-01-03     700   400.0  100.0
7    2  2020-01-03     800   500.0  200.0
8    3  2020-01-03     900   600.0  300.0
9    1  2020-01-04    1000   700.0  400.0
10   2  2020-01-04    1100   800.0  500.0
11   3  2020-01-04    1200   900.0  600.0
12   1  2020-01-05    1300  1000.0  700.0
13   2  2020-01-05    1400  1100.0  800.0
14   3  2020-01-05    1500  1200.0  900.0

df2とdf3の挙動は同じ

In [15]:
df4 = df.copy()
df4

    id        date  demand
0    1  2020-01-01     100
1    2  2020-01-01     200
2    3  2020-01-01     300
3    1  2020-01-02     400
4    2  2020-01-02     500
5    3  2020-01-02     600
6    1  2020-01-03     700
7    2  2020-01-03     800
8    3  2020-01-03     900
9    1  2020-01-04    1000
10   2  2020-01-04    1100
11   3  2020-01-04    1200
12   1  2020-01-05    1300
13   2  2020-01-05    1400
14   3  2020-01-05    1500

In [22]:
df4["lag_1_2"] = df4.groupby('id').transform(lambda x: x.shift(1).rolling(2).mean())
df4

    id        date  demand  lag_1_2
0    1  2020-01-01     100      NaN
1    2  2020-01-01     200      NaN
2    3  2020-01-01     300      NaN
3    1  2020-01-02     400      NaN
4    2  2020-01-02     500      NaN
5    3  2020-01-02     600      NaN
6    1  2020-01-03     700    250.0
7    2  2020-01-03     800    350.0
8    3  2020-01-03     900    450.0
9    1  2020-01-04    1000    550.0
10   2  2020-01-04    1100    650.0
11   3  2020-01-04    1200    750.0
12   1  2020-01-05    1300    850.0
13   2  2020-01-05    1400    950.0
14   3  2020-01-05    1500   1050.0

shiftとrollingの足した値分下にずれる

In [21]:
df2["lag1_2"] = df2.groupby('id')["lag1"].transform(lambda x: x.rolling(2).mean())
df2

    id        date  demand    lag1   lag2  lag1_2
0    1  2020-01-01     100     NaN    NaN     NaN
1    2  2020-01-01     200     NaN    NaN     NaN
2    3  2020-01-01     300     NaN    NaN     NaN
3    1  2020-01-02     400   100.0    NaN     NaN
4    2  2020-01-02     500   200.0    NaN     NaN
5    3  2020-01-02     600   300.0    NaN     NaN
6    1  2020-01-03     700   400.0  100.0   250.0
7    2  2020-01-03     800   500.0  200.0   350.0
8    3  2020-01-03     900   600.0  300.0   450.0
9    1  2020-01-04    1000   700.0  400.0   550.0
10   2  2020-01-04    1100   800.0  500.0   650.0
11   3  2020-01-04    1200   900.0  600.0   750.0
12   1  2020-01-05    1300  1000.0  700.0   850.0
13   2  2020-01-05    1400  1100.0  800.0   950.0
14   3  2020-01-05    1500  1200.0  900.0  1050.0

df4.groupby('id').transform(lambda x: x.shift(1).rolling(2).mean())と   
df2.groupby('id')["lag1"].transform(lambda x: x.rolling(2).mean())は同じ

In [23]:
df2.groupby('id')["demand"].shift(1).rolling(2).mean()

0        NaN
1        NaN
2        NaN
3        NaN
4      150.0
5      250.0
6      350.0
7      450.0
8      550.0
9      650.0
10     750.0
11     850.0
12     950.0
13    1050.0
14    1150.0
Name: demand, dtype: float64