In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'id': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3], 
                   'date': ["2020-01-01", "2020-01-02", "2020-01-03", "2020-01-04", "2020-01-05", 
                            "2020-01-01", "2020-01-02", "2020-01-03", "2020-01-04", "2020-01-05",
                            "2020-01-01", "2020-01-02", "2020-01-03", "2020-01-04", "2020-01-05"], 
                   'demand': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500]})
df

    id        date  demand
0    1  2020-01-01     100
1    1  2020-01-02     200
2    1  2020-01-03     300
3    1  2020-01-04     400
4    1  2020-01-05     500
5    2  2020-01-01     600
6    2  2020-01-02     700
7    2  2020-01-03     800
8    2  2020-01-04     900
9    2  2020-01-05    1000
10   3  2020-01-01    1100
11   3  2020-01-02    1200
12   3  2020-01-03    1300
13   3  2020-01-04    1400
14   3  2020-01-05    1500

In [2]:
df1 = df.copy()
df1["lag1"] = df1["demand"].shift(1)
df1["lag2"] = df1["demand"].shift(2)
df1

    id        date  demand    lag1    lag2
0    1  2020-01-01     100     NaN     NaN
1    1  2020-01-02     200   100.0     NaN
2    1  2020-01-03     300   200.0   100.0
3    1  2020-01-04     400   300.0   200.0
4    1  2020-01-05     500   400.0   300.0
5    2  2020-01-01     600   500.0   400.0
6    2  2020-01-02     700   600.0   500.0
7    2  2020-01-03     800   700.0   600.0
8    2  2020-01-04     900   800.0   700.0
9    2  2020-01-05    1000   900.0   800.0
10   3  2020-01-01    1100  1000.0   900.0
11   3  2020-01-02    1200  1100.0  1000.0
12   3  2020-01-03    1300  1200.0  1100.0
13   3  2020-01-04    1400  1300.0  1200.0
14   3  2020-01-05    1500  1400.0  1300.0

shiftでただずらすだけだと並び方によっては5日のデータが1日に入ったりする

In [3]:
df2 = df.copy()
df2["lag1"] = df2.groupby("id")["demand"].shift(1)
df2["lag2"] = df2.groupby("id")["demand"].shift(2)
df2

    id        date  demand    lag1    lag2
0    1  2020-01-01     100     NaN     NaN
1    1  2020-01-02     200   100.0     NaN
2    1  2020-01-03     300   200.0   100.0
3    1  2020-01-04     400   300.0   200.0
4    1  2020-01-05     500   400.0   300.0
5    2  2020-01-01     600     NaN     NaN
6    2  2020-01-02     700   600.0     NaN
7    2  2020-01-03     800   700.0   600.0
8    2  2020-01-04     900   800.0   700.0
9    2  2020-01-05    1000   900.0   800.0
10   3  2020-01-01    1100     NaN     NaN
11   3  2020-01-02    1200  1100.0     NaN
12   3  2020-01-03    1300  1200.0  1100.0
13   3  2020-01-04    1400  1300.0  1200.0
14   3  2020-01-05    1500  1400.0  1300.0

In [4]:
df3 = df.copy()
df3["lag1"] = df3.groupby("id")["demand"].transform(lambda x: x.shift(1))
df3["lag2"] = df3.groupby("id")["demand"].transform(lambda x: x.shift(2))
df3

    id        date  demand    lag1    lag2
0    1  2020-01-01     100     NaN     NaN
1    1  2020-01-02     200   100.0     NaN
2    1  2020-01-03     300   200.0   100.0
3    1  2020-01-04     400   300.0   200.0
4    1  2020-01-05     500   400.0   300.0
5    2  2020-01-01     600     NaN     NaN
6    2  2020-01-02     700   600.0     NaN
7    2  2020-01-03     800   700.0   600.0
8    2  2020-01-04     900   800.0   700.0
9    2  2020-01-05    1000   900.0   800.0
10   3  2020-01-01    1100     NaN     NaN
11   3  2020-01-02    1200  1100.0     NaN
12   3  2020-01-03    1300  1200.0  1100.0
13   3  2020-01-04    1400  1300.0  1200.0
14   3  2020-01-05    1500  1400.0  1300.0

df2とdf3の挙動は同じ

In [5]:
df4 = df.copy()
df4

    id        date  demand
0    1  2020-01-01     100
1    1  2020-01-02     200
2    1  2020-01-03     300
3    1  2020-01-04     400
4    1  2020-01-05     500
5    2  2020-01-01     600
6    2  2020-01-02     700
7    2  2020-01-03     800
8    2  2020-01-04     900
9    2  2020-01-05    1000
10   3  2020-01-01    1100
11   3  2020-01-02    1200
12   3  2020-01-03    1300
13   3  2020-01-04    1400
14   3  2020-01-05    1500

In [6]:
df4["lag_1_2"] = df4.groupby('id').transform(lambda x: x.shift(1).rolling(2).mean())
df4

    id        date  demand  lag_1_2
0    1  2020-01-01     100      NaN
1    1  2020-01-02     200      NaN
2    1  2020-01-03     300    150.0
3    1  2020-01-04     400    250.0
4    1  2020-01-05     500    350.0
5    2  2020-01-01     600      NaN
6    2  2020-01-02     700      NaN
7    2  2020-01-03     800    650.0
8    2  2020-01-04     900    750.0
9    2  2020-01-05    1000    850.0
10   3  2020-01-01    1100      NaN
11   3  2020-01-02    1200      NaN
12   3  2020-01-03    1300   1150.0
13   3  2020-01-04    1400   1250.0
14   3  2020-01-05    1500   1350.0

shiftとrollingの足した値分下にずれる

In [7]:
df2["lag1_2"] = df2.groupby('id')["lag1"].transform(lambda x: x.rolling(2).mean())
df2

    id        date  demand    lag1    lag2  lag1_2
0    1  2020-01-01     100     NaN     NaN     NaN
1    1  2020-01-02     200   100.0     NaN     NaN
2    1  2020-01-03     300   200.0   100.0   150.0
3    1  2020-01-04     400   300.0   200.0   250.0
4    1  2020-01-05     500   400.0   300.0   350.0
5    2  2020-01-01     600     NaN     NaN     NaN
6    2  2020-01-02     700   600.0     NaN     NaN
7    2  2020-01-03     800   700.0   600.0   650.0
8    2  2020-01-04     900   800.0   700.0   750.0
9    2  2020-01-05    1000   900.0   800.0   850.0
10   3  2020-01-01    1100     NaN     NaN     NaN
11   3  2020-01-02    1200  1100.0     NaN     NaN
12   3  2020-01-03    1300  1200.0  1100.0  1150.0
13   3  2020-01-04    1400  1300.0  1200.0  1250.0
14   3  2020-01-05    1500  1400.0  1300.0  1350.0

df4.groupby('id').transform(lambda x: x.shift(1).rolling(2).mean())と   
df2.groupby('id')["lag1"].transform(lambda x: x.rolling(2).mean())は同じ

In [8]:
df2.groupby('id')["demand"].shift(1).rolling(2).mean()

0        NaN
1        NaN
2      150.0
3      250.0
4      350.0
5        NaN
6        NaN
7      650.0
8      750.0
9      850.0
10       NaN
11       NaN
12    1150.0
13    1250.0
14    1350.0
Name: demand, dtype: float64