In [1]:
import gc
import os
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import lightgbm as lgb
# import dask_xgboost as xgb
# import dask.dataframe as dd
import matplotlib.pyplot as plt
from sklearn import preprocessing, metrics

In [3]:
# メモリ使用量の削減
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [5]:
print('Reading files...')

calendar_df = pd.read_csv('../input/m5-forecasting-accuracy/calendar.csv')
calendar_df = reduce_mem_usage(calendar_df)
print('Calendar has {} rows and {} columns\n'.format(calendar_df.shape[0], calendar_df.shape[1]))

sell_prices_df = pd.read_csv('../input/m5-forecasting-accuracy/sell_prices.csv')
sell_prices_df = reduce_mem_usage(sell_prices_df)
print('Sell prices has {} rows and {} columns\n'.format(sell_prices_df.shape[0], sell_prices_df.shape[1]))

sales_train_validation_df = pd.read_csv('../input/m5-forecasting-accuracy/sales_train_validation.csv')
print('Sales train validation has {} rows and {} columns\n'.format(sales_train_validation_df.shape[0], 
                                                                    sales_train_validation_df.shape[1]))

submission_df = pd.read_csv('../input/m5-forecasting-accuracy/sample_submission.csv')

Reading files...
Mem. usage decreased to  0.12 Mb (41.9% reduction)
Calendar has 1969 rows and 14 columns

Mem. usage decreased to 130.48 Mb (37.5% reduction)
Sell prices has 6841121 rows and 4 columns

Sales train validation has 30490 rows and 1919 columns

In [6]:
# 商品情報を抽出
product_df = sales_train_validation_df.loc[:, "id":"state_id"]

# 列方向に連なっていたのを変形し行方向に連ねるように整理
print("[BEFORE] {} rows and {} columns".format(sales_train_validation_df.shape[0], sales_train_validation_df.shape[1]))
sales_train_validation_df = pd.melt(sales_train_validation_df, 
                                    id_vars = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], 
                                    var_name = 'day', value_name = 'demand')
print('[AFTER] {} rows and {} columns'.format(sales_train_validation_df.shape[0], sales_train_validation_df.shape[1]))
sales_train_validation_df = reduce_mem_usage(sales_train_validation_df)

[BEFORE] 30490 rows and 1919 columns
    [AFTER] 58327370 rows and 8 columns
Mem. usage decreased to 3226.27 Mb (9.4% reduction)

In [7]:
# seperate test dataframes
valid_df = submission_df[submission_df["id"].str.contains("validation")]
eval_df = submission_df[submission_df["id"].str.contains("evaluation")]

# change column names
# validation data: F1 ~ F28 => d_1914 ~ d_1941
valid_df.columns = ['id', 'd_1914', 'd_1915', 'd_1916', 'd_1917', 'd_1918', 'd_1919', 'd_1920', 'd_1921', 'd_1922', 'd_1923',
                    'd_1924', 'd_1925', 'd_1926', 'd_1927', 'd_1928', 'd_1929', 'd_1930', 'd_1931', 'd_1932', 'd_1933', 
                    'd_1934', 'd_1935', 'd_1936', 'd_1937', 'd_1938', 'd_1939', 'd_1940', 'd_1941']

# evaluation data: F1 ~ F28 => d_1942 ~ d_1969
eval_df.columns = ['id', 'd_1942', 'd_1943', 'd_1944', 'd_1945', 'd_1946', 'd_1947', 'd_1948', 'd_1949', 'd_1950', 'd_1951',
                    'd_1952', 'd_1953', 'd_1954', 'd_1955', 'd_1956', 'd_1957', 'd_1958', 'd_1959', 'd_1960', 'd_1961',
                    'd_1962', 'd_1963', 'd_1964', 'd_1965', 'd_1966', 'd_1967', 'd_1968', 'd_1969']


# melt, mergeを使ってsubmission用のdataframeを上のsales_train_validationと同様の形式に変形
valid_df = valid_df.merge(product_df, how = 'left', on = 'id')
valid_df = pd.melt(valid_df, id_vars = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
                    var_name = 'day', value_name = 'demand')

# valid_dfと同様eval_dfとproduct_dfをmergeさせたい
# しかしidが_evaluationのままだとデータが一致せずmergeできないので一時的に_validationにidを変更
eval_df['id'] = eval_df['id'].str.replace('_evaluation','_validation')
eval_df = eval_df.merge(product_df, how = 'left', on = 'id')
eval_df['id'] = eval_df['id'].str.replace('_validation','_evaluation')
eval_df = pd.melt(eval_df, id_vars = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
                    var_name = 'day', value_name = 'demand')

sales_train_validation_df['part'] = 'train'
valid_df['part'] = 'valid'
eval_df['part'] = 'eval'

data_df = pd.concat([sales_train_validation_df, valid_df, eval_df], axis=0)

# 不要なdataframeの削除
del sales_train_validation_df, valid_df, eval_df

In [8]:
data_df

,id,item_id,dept_id,cat_id,store_id,state_id,day,demand,part
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
5,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
6,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,d_1,12,train
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,train
9,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
10,HOBBIES_1_011_CA_1_validation,HOBBIES_1_011,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
11,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
12,HOBBIES_1_013_CA_1_validation,HOBBIES_1_013,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
13,HOBBIES_1_014_CA_1_validation,HOBBIES_1_014,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
14,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,d_1,4,train
15,HOBBIES_1_016_CA_1_validation,HOBBIES_1_016,HOBBIES_1,HOBBIES,CA_1,CA,d_1,5,train
16,HOBBIES_1_017_CA_1_validation,HOBBIES_1_017,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
17,HOBBIES_1_018_CA_1_validation,HOBBIES_1_018,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
18,HOBBIES_1_019_CA_1_validation,HOBBIES_1_019,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
19,HOBBIES_1_020_CA_1_validation,HOBBIES_1_020,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
20,HOBBIES_1_021_CA_1_validation,HOBBIES_1_021,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
21,HOBBIES_1_022_CA_1_validation,HOBBIES_1_022,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,train
22,HOBBIES_1_023_CA_1_validation,HOBBIES_1_023,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,train
23,HOBBIES_1_024_CA_1_validation,HOBBIES_1_024,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
24,HOBBIES_1_025_CA_1_validation,HOBBIES_1_025,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
25,HOBBIES_1_026_CA_1_validation,HOBBIES_1_026,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
26,HOBBIES_1_027_CA_1_validation,HOBBIES_1_027,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
27,HOBBIES_1_028_CA_1_validation,HOBBIES_1_028,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
28,HOBBIES_1_029_CA_1_validation,HOBBIES_1_029,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,train
29,HOBBIES_1_030_CA_1_validation,HOBBIES_1_030,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
...,...,...,...,...,...,...,...,...,...
853690,FOODS_3_798_WI_3_evaluation,FOODS_3_798,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853691,FOODS_3_799_WI_3_evaluation,FOODS_3_799,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853692,FOODS_3_800_WI_3_evaluation,FOODS_3_800,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853693,FOODS_3_801_WI_3_evaluation,FOODS_3_801,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853694,FOODS_3_802_WI_3_evaluation,FOODS_3_802,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853695,FOODS_3_803_WI_3_evaluation,FOODS_3_803,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853696,FOODS_3_804_WI_3_evaluation,FOODS_3_804,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853697,FOODS_3_805_WI_3_evaluation,FOODS_3_805,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853698,FOODS_3_806_WI_3_evaluation,FOODS_3_806,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853699,FOODS_3_807_WI_3_evaluation,FOODS_3_807,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853700,FOODS_3_808_WI_3_evaluation,FOODS_3_808,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853701,FOODS_3_809_WI_3_evaluation,FOODS_3_809,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853702,FOODS_3_810_WI_3_evaluation,FOODS_3_810,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853703,FOODS_3_811_WI_3_evaluation,FOODS_3_811,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853704,FOODS_3_812_WI_3_evaluation,FOODS_3_812,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853705,FOODS_3_813_WI_3_evaluation,FOODS_3_813,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853706,FOODS_3_814_WI_3_evaluation,FOODS_3_814,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853707,FOODS_3_815_WI_3_evaluation,FOODS_3_815,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853708,FOODS_3_816_WI_3_evaluation,FOODS_3_816,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853709,FOODS_3_817_WI_3_evaluation,FOODS_3_817,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853710,FOODS_3_818_WI_3_evaluation,FOODS_3_818,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853711,FOODS_3_819_WI_3_evaluation,FOODS_3_819,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853712,FOODS_3_820_WI_3_evaluation,FOODS_3_820,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853713,FOODS_3_821_WI_3_evaluation,FOODS_3_821,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853714,FOODS_3_822_WI_3_evaluation,FOODS_3_822,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853715,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853716,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853717,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853718,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853719,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval

In [12]:
# NOTE get only a sample for fast training(切りはよくない)
some_data_df = data_df.loc[55000000:]
some_data_df

,id,item_id,dept_id,cat_id,store_id,state_id,day,demand,part
55000000,FOODS_2_312_WI_2_validation,FOODS_2_312,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000001,FOODS_2_313_WI_2_validation,FOODS_2_313,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
55000002,FOODS_2_314_WI_2_validation,FOODS_2_314,FOODS_2,FOODS,WI_2,WI,d_1804,3,train
55000003,FOODS_2_315_WI_2_validation,FOODS_2_315,FOODS_2,FOODS,WI_2,WI,d_1804,16,train
55000004,FOODS_2_316_WI_2_validation,FOODS_2_316,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000005,FOODS_2_317_WI_2_validation,FOODS_2_317,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000006,FOODS_2_318_WI_2_validation,FOODS_2_318,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000007,FOODS_2_319_WI_2_validation,FOODS_2_319,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000008,FOODS_2_320_WI_2_validation,FOODS_2_320,FOODS_2,FOODS,WI_2,WI,d_1804,5,train
55000009,FOODS_2_321_WI_2_validation,FOODS_2_321,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000010,FOODS_2_322_WI_2_validation,FOODS_2_322,FOODS_2,FOODS,WI_2,WI,d_1804,10,train
55000011,FOODS_2_323_WI_2_validation,FOODS_2_323,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
55000012,FOODS_2_324_WI_2_validation,FOODS_2_324,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000013,FOODS_2_325_WI_2_validation,FOODS_2_325,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000014,FOODS_2_326_WI_2_validation,FOODS_2_326,FOODS_2,FOODS,WI_2,WI,d_1804,47,train
55000015,FOODS_2_327_WI_2_validation,FOODS_2_327,FOODS_2,FOODS,WI_2,WI,d_1804,5,train
55000016,FOODS_2_328_WI_2_validation,FOODS_2_328,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
55000017,FOODS_2_329_WI_2_validation,FOODS_2_329,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
55000018,FOODS_2_330_WI_2_validation,FOODS_2_330,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000019,FOODS_2_331_WI_2_validation,FOODS_2_331,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000020,FOODS_2_332_WI_2_validation,FOODS_2_332,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000021,FOODS_2_333_WI_2_validation,FOODS_2_333,FOODS_2,FOODS,WI_2,WI,d_1804,6,train
55000022,FOODS_2_334_WI_2_validation,FOODS_2_334,FOODS_2,FOODS,WI_2,WI,d_1804,5,train
55000023,FOODS_2_335_WI_2_validation,FOODS_2_335,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000024,FOODS_2_336_WI_2_validation,FOODS_2_336,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
55000025,FOODS_2_337_WI_2_validation,FOODS_2_337,FOODS_2,FOODS,WI_2,WI,d_1804,0,train
55000026,FOODS_2_338_WI_2_validation,FOODS_2_338,FOODS_2,FOODS,WI_2,WI,d_1804,3,train
55000027,FOODS_2_339_WI_2_validation,FOODS_2_339,FOODS_2,FOODS,WI_2,WI,d_1804,4,train
55000028,FOODS_2_340_WI_2_validation,FOODS_2_340,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
55000029,FOODS_2_341_WI_2_validation,FOODS_2_341,FOODS_2,FOODS,WI_2,WI,d_1804,1,train
...,...,...,...,...,...,...,...,...,...
853690,FOODS_3_798_WI_3_evaluation,FOODS_3_798,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853691,FOODS_3_799_WI_3_evaluation,FOODS_3_799,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853692,FOODS_3_800_WI_3_evaluation,FOODS_3_800,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853693,FOODS_3_801_WI_3_evaluation,FOODS_3_801,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853694,FOODS_3_802_WI_3_evaluation,FOODS_3_802,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853695,FOODS_3_803_WI_3_evaluation,FOODS_3_803,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853696,FOODS_3_804_WI_3_evaluation,FOODS_3_804,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853697,FOODS_3_805_WI_3_evaluation,FOODS_3_805,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853698,FOODS_3_806_WI_3_evaluation,FOODS_3_806,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853699,FOODS_3_807_WI_3_evaluation,FOODS_3_807,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853700,FOODS_3_808_WI_3_evaluation,FOODS_3_808,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853701,FOODS_3_809_WI_3_evaluation,FOODS_3_809,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853702,FOODS_3_810_WI_3_evaluation,FOODS_3_810,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853703,FOODS_3_811_WI_3_evaluation,FOODS_3_811,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853704,FOODS_3_812_WI_3_evaluation,FOODS_3_812,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853705,FOODS_3_813_WI_3_evaluation,FOODS_3_813,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853706,FOODS_3_814_WI_3_evaluation,FOODS_3_814,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853707,FOODS_3_815_WI_3_evaluation,FOODS_3_815,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853708,FOODS_3_816_WI_3_evaluation,FOODS_3_816,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853709,FOODS_3_817_WI_3_evaluation,FOODS_3_817,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853710,FOODS_3_818_WI_3_evaluation,FOODS_3_818,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853711,FOODS_3_819_WI_3_evaluation,FOODS_3_819,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853712,FOODS_3_820_WI_3_evaluation,FOODS_3_820,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853713,FOODS_3_821_WI_3_evaluation,FOODS_3_821,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853714,FOODS_3_822_WI_3_evaluation,FOODS_3_822,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853715,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853716,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853717,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853718,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval
853719,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1969,0,eval

In [15]:
print(data_df["part"].value_counts())
print(some_data_df["part"].value_counts())

train    58327370
valid      853720
eval       853720
Name: part, dtype: int64
train    3327370
valid     853720
eval      853720
Name: part, dtype: int64

In [17]:
# drop some calendar features TODO なぜ？
calendar_df.drop(['weekday', 'wday', 'month', 'year'], inplace = True, axis=1)
calendar_df

,date,wm_yr_wk,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,d_5,NaN,NaN,NaN,NaN,1,0,1
5,2011-02-03,11101,d_6,NaN,NaN,NaN,NaN,1,1,1
6,2011-02-04,11101,d_7,NaN,NaN,NaN,NaN,1,0,0
7,2011-02-05,11102,d_8,NaN,NaN,NaN,NaN,1,1,1
8,2011-02-06,11102,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1
9,2011-02-07,11102,d_10,NaN,NaN,NaN,NaN,1,1,0
10,2011-02-08,11102,d_11,NaN,NaN,NaN,NaN,1,0,1
11,2011-02-09,11102,d_12,NaN,NaN,NaN,NaN,1,1,1
12,2011-02-10,11102,d_13,NaN,NaN,NaN,NaN,1,0,0
13,2011-02-11,11102,d_14,NaN,NaN,NaN,NaN,0,1,1
14,2011-02-12,11103,d_15,NaN,NaN,NaN,NaN,0,1,1
15,2011-02-13,11103,d_16,NaN,NaN,NaN,NaN,0,1,0
16,2011-02-14,11103,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1
17,2011-02-15,11103,d_18,NaN,NaN,NaN,NaN,0,1,1
18,2011-02-16,11103,d_19,NaN,NaN,NaN,NaN,0,0,0
19,2011-02-17,11103,d_20,NaN,NaN,NaN,NaN,0,0,0
20,2011-02-18,11103,d_21,NaN,NaN,NaN,NaN,0,0,0
21,2011-02-19,11104,d_22,NaN,NaN,NaN,NaN,0,0,0
22,2011-02-20,11104,d_23,NaN,NaN,NaN,NaN,0,0,0
23,2011-02-21,11104,d_24,PresidentsDay,National,NaN,NaN,0,0,0
24,2011-02-22,11104,d_25,NaN,NaN,NaN,NaN,0,0,0
25,2011-02-23,11104,d_26,NaN,NaN,NaN,NaN,0,0,0
26,2011-02-24,11104,d_27,NaN,NaN,NaN,NaN,0,0,0
27,2011-02-25,11104,d_28,NaN,NaN,NaN,NaN,0,0,0
28,2011-02-26,11105,d_29,NaN,NaN,NaN,NaN,0,0,0
29,2011-02-27,11105,d_30,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1939,2016-05-21,11617,d_1940,NaN,NaN,NaN,NaN,0,0,0
1940,2016-05-22,11617,d_1941,NaN,NaN,NaN,NaN,0,0,0
1941,2016-05-23,11617,d_1942,NaN,NaN,NaN,NaN,0,0,0
1942,2016-05-24,11617,d_1943,NaN,NaN,NaN,NaN,0,0,0
1943,2016-05-25,11617,d_1944,NaN,NaN,NaN,NaN,0,0,0
1944,2016-05-26,11617,d_1945,NaN,NaN,NaN,NaN,0,0,0
1945,2016-05-27,11617,d_1946,NaN,NaN,NaN,NaN,0,0,0
1946,2016-05-28,11618,d_1947,NaN,NaN,NaN,NaN,0,0,0
1947,2016-05-29,11618,d_1948,NaN,NaN,NaN,NaN,0,0,0
1948,2016-05-30,11618,d_1949,MemorialDay,National,NaN,NaN,0,0,0
1949,2016-05-31,11618,d_1950,NaN,NaN,NaN,NaN,0,0,0
1950,2016-06-01,11618,d_1951,NaN,NaN,NaN,NaN,1,1,0
1951,2016-06-02,11618,d_1952,NBAFinalsStart,Sporting,NaN,NaN,1,0,1
1952,2016-06-03,11618,d_1953,NaN,NaN,NaN,NaN,1,1,1
1953,2016-06-04,11619,d_1954,NaN,NaN,NaN,NaN,1,0,0
1954,2016-06-05,11619,d_1955,NaN,NaN,NaN,NaN,1,1,1
1955,2016-06-06,11619,d_1956,NaN,NaN,NaN,NaN,1,1,1
1956,2016-06-07,11619,d_1957,Ramadan starts,Religious,NaN,NaN,1,1,0
1957,2016-06-08,11619,d_1958,NaN,NaN,NaN,NaN,1,0,1
1958,2016-06-09,11619,d_1959,NaN,NaN,NaN,NaN,1,1,1
1959,2016-06-10,11619,d_1960,NaN,NaN,NaN,NaN,1,0,0
1960,2016-06-11,11620,d_1961,NaN,NaN,NaN,NaN,0,1,1
1961,2016-06-12,11620,d_1962,NaN,NaN,NaN,NaN,0,1,1
1962,2016-06-13,11620,d_1963,NaN,NaN,NaN,NaN,0,1,0
1963,2016-06-14,11620,d_1964,NaN,NaN,NaN,NaN,0,0,1
1964,2016-06-15,11620,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [18]:
# delete eval_df for now
data_df = data_df[data_df['part'] != 'eval']

In [20]:
data_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,day,demand,part
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,train

In [22]:
# notebook crash with the entire dataset (maybee use tensorflow, dask, pyspark xD)
data_df = pd.merge(data_df, calendar_df, how = 'left', left_on = ['day'], right_on = ['d'])  # day列でmerge
data_df.drop(['d', 'day'], inplace = True, axis = 1)

In [23]:
   # get the sell price data (this feature should be very importan   data_df = data_df.merge(sell_prices_df, on = ['store_id', 'item_id', 'wm_yr_wk'], how = 'left   print('Our final dataset to train has {} rows and {} columns'.format(data_df.shape[0], data_df.shape[1t()

In [24]:
data_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,train,2011-01-29,11101,NaN,NaN,NaN,NaN,0,0,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,train,2011-01-29,11101,NaN,NaN,NaN,NaN,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,train,2011-01-29,11101,NaN,NaN,NaN,NaN,0,0,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,train,2011-01-29,11101,NaN,NaN,NaN,NaN,0,0,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,train,2011-01-29,11101,NaN,NaN,NaN,NaN,0,0,0

In [25]:
# 欠損値補間とlabel encode
def transform(data_df):
    nan_features = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
    for feature in nan_features:
        data_df[feature].fillna('unknown', inplace=True)
        
    cat = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
    for feature in cat:
        encoder = preprocessing.LabelEncoder()
        data_df[feature] = encoder.fit_transform(data_df[feature])
    
    return data_df

In [42]:
data_df.tail(30)

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
59181060,FOODS_3_798_WI_3_validation,FOODS_3_798,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181061,FOODS_3_799_WI_3_validation,FOODS_3_799,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181062,FOODS_3_800_WI_3_validation,FOODS_3_800,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181063,FOODS_3_801_WI_3_validation,FOODS_3_801,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181064,FOODS_3_802_WI_3_validation,FOODS_3_802,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181065,FOODS_3_803_WI_3_validation,FOODS_3_803,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181066,FOODS_3_804_WI_3_validation,FOODS_3_804,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181067,FOODS_3_805_WI_3_validation,FOODS_3_805,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181068,FOODS_3_806_WI_3_validation,FOODS_3_806,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181069,FOODS_3_807_WI_3_validation,FOODS_3_807,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181070,FOODS_3_808_WI_3_validation,FOODS_3_808,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181071,FOODS_3_809_WI_3_validation,FOODS_3_809,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181072,FOODS_3_810_WI_3_validation,FOODS_3_810,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181073,FOODS_3_811_WI_3_validation,FOODS_3_811,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181074,FOODS_3_812_WI_3_validation,FOODS_3_812,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181075,FOODS_3_813_WI_3_validation,FOODS_3_813,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181076,FOODS_3_814_WI_3_validation,FOODS_3_814,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181077,FOODS_3_815_WI_3_validation,FOODS_3_815,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181078,FOODS_3_816_WI_3_validation,FOODS_3_816,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181079,FOODS_3_817_WI_3_validation,FOODS_3_817,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181080,FOODS_3_818_WI_3_validation,FOODS_3_818,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181081,FOODS_3_819_WI_3_validation,FOODS_3_819,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181082,FOODS_3_820_WI_3_validation,FOODS_3_820,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181083,FOODS_3_821_WI_3_validation,FOODS_3_821,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181084,FOODS_3_822_WI_3_validation,FOODS_3_822,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181085,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181086,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181087,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181088,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0
59181089,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,valid,2016-05-22,11617,NaN,NaN,NaN,NaN,0,0,0

In [43]:
data_df.groupby(['id'])['demand'].mean()

id
FOODS_1_001_CA_1_validation        0.774343
FOODS_1_001_CA_2_validation        1.140649
FOODS_1_001_CA_3_validation        1.185987
FOODS_1_001_CA_4_validation        0.354456
FOODS_1_001_TX_1_validation        0.576507
FOODS_1_001_TX_2_validation        0.572901
FOODS_1_001_TX_3_validation        0.404431
FOODS_1_001_WI_1_validation        0.559505
FOODS_1_001_WI_2_validation        0.450799
FOODS_1_001_WI_3_validation        0.290057
FOODS_1_002_CA_1_validation        0.470891
FOODS_1_002_CA_2_validation        0.594539
FOODS_1_002_CA_3_validation        0.310665
FOODS_1_002_CA_4_validation        0.329727
FOODS_1_002_TX_1_validation        0.166409
FOODS_1_002_TX_2_validation        0.234415
FOODS_1_002_TX_3_validation        0.274601
FOODS_1_002_WI_1_validation        0.742401
FOODS_1_002_WI_2_validation        0.325605
FOODS_1_002_WI_3_validation        0.329212
FOODS_1_003_CA_1_validation        0.820196
FOODS_1_003_CA_2_validation        1.617723
FOODS_1_003_CA_3_validation        1.018547
FOODS_1_003_CA_4_validation        0.470891
FOODS_1_003_TX_1_validation        0.451829
FOODS_1_003_TX_2_validation        0.414735
FOODS_1_003_TX_3_validation        0.149923
FOODS_1_003_WI_1_validation        1.241113
FOODS_1_003_WI_2_validation        0.365276
FOODS_1_003_WI_3_validation        0.350335
                                     ...
HOUSEHOLD_2_514_CA_1_validation    0.298815
HOUSEHOLD_2_514_CA_2_validation    0.336940
HOUSEHOLD_2_514_CA_3_validation    0.204534
HOUSEHOLD_2_514_CA_4_validation    0.130860
HOUSEHOLD_2_514_TX_1_validation    0.079856
HOUSEHOLD_2_514_TX_2_validation    0.183926
HOUSEHOLD_2_514_TX_3_validation    0.103040
HOUSEHOLD_2_514_WI_1_validation    0.129315
HOUSEHOLD_2_514_WI_2_validation    0.048944
HOUSEHOLD_2_514_WI_3_validation    0.106646
HOUSEHOLD_2_515_CA_1_validation    0.059248
HOUSEHOLD_2_515_CA_2_validation    0.095827
HOUSEHOLD_2_515_CA_3_validation    0.071097
HOUSEHOLD_2_515_CA_4_validation    0.043792
HOUSEHOLD_2_515_TX_1_validation    0.056672
HOUSEHOLD_2_515_TX_2_validation    0.068006
HOUSEHOLD_2_515_TX_3_validation    0.039155
HOUSEHOLD_2_515_WI_1_validation    0.052035
HOUSEHOLD_2_515_WI_2_validation    0.033488
HOUSEHOLD_2_515_WI_3_validation    0.058217
HOUSEHOLD_2_516_CA_1_validation    0.163833
HOUSEHOLD_2_516_CA_2_validation    0.197321
HOUSEHOLD_2_516_CA_3_validation    0.144771
HOUSEHOLD_2_516_CA_4_validation    0.072643
HOUSEHOLD_2_516_TX_1_validation    0.119526
HOUSEHOLD_2_516_TX_2_validation    0.247810
HOUSEHOLD_2_516_TX_3_validation    0.120556
HOUSEHOLD_2_516_WI_1_validation    0.085523
HOUSEHOLD_2_516_WI_2_validation    0.031942
HOUSEHOLD_2_516_WI_3_validation    0.126224
Name: demand, Length: 30490, dtype: float64

In [39]:
data_df.transform(lambda x: x.shift(28))

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0.0,train,2011-01-29,11101.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
29,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0.0,train,2011-01-29,11101.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59181060,FOODS_3_770_WI_3_validation,FOODS_3_770,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181061,FOODS_3_771_WI_3_validation,FOODS_3_771,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181062,FOODS_3_772_WI_3_validation,FOODS_3_772,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181063,FOODS_3_773_WI_3_validation,FOODS_3_773,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181064,FOODS_3_774_WI_3_validation,FOODS_3_774,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181065,FOODS_3_775_WI_3_validation,FOODS_3_775,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181066,FOODS_3_776_WI_3_validation,FOODS_3_776,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181067,FOODS_3_777_WI_3_validation,FOODS_3_777,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181068,FOODS_3_778_WI_3_validation,FOODS_3_778,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181069,FOODS_3_779_WI_3_validation,FOODS_3_779,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181070,FOODS_3_780_WI_3_validation,FOODS_3_780,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181071,FOODS_3_781_WI_3_validation,FOODS_3_781,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181072,FOODS_3_782_WI_3_validation,FOODS_3_782,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181073,FOODS_3_783_WI_3_validation,FOODS_3_783,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181074,FOODS_3_784_WI_3_validation,FOODS_3_784,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181075,FOODS_3_785_WI_3_validation,FOODS_3_785,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181076,FOODS_3_786_WI_3_validation,FOODS_3_786,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181077,FOODS_3_787_WI_3_validation,FOODS_3_787,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181078,FOODS_3_788_WI_3_validation,FOODS_3_788,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181079,FOODS_3_789_WI_3_validation,FOODS_3_789,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181080,FOODS_3_790_WI_3_validation,FOODS_3_790,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181081,FOODS_3_791_WI_3_validation,FOODS_3_791,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181082,FOODS_3_792_WI_3_validation,FOODS_3_792,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181083,FOODS_3_793_WI_3_validation,FOODS_3_793,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181084,FOODS_3_794_WI_3_validation,FOODS_3_794,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181085,FOODS_3_795_WI_3_validation,FOODS_3_795,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181086,FOODS_3_796_WI_3_validation,FOODS_3_796,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181087,FOODS_3_797_WI_3_validation,FOODS_3_797,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181088,FOODS_3_798_WI_3_validation,FOODS_3_798,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
59181089,FOODS_3_799_WI_3_validation,FOODS_3_799,FOODS_3,FOODS,WI_3,WI,0.0,valid,2016-05-22,11617.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [44]:
# 特徴量エンジニアリング
def feature_engineering(data):
    
    # rolling demand features
    data['lag_t28'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28))
    data['lag_t29'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(29))
    data['lag_t30'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(30))

    # per a week
    data['rolling_mean_t7'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(7).mean())
    data['rolling_std_t7'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(7).std())

    # per a month
    data['rolling_mean_t30'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(30).mean())

    # per 3 month 
    data['rolling_mean_t90'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(90).mean())

    # half year
    data['rolling_mean_t180'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(180).mean())

    # per a month
    data['rolling_std_t30'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(30).std())
    data['rolling_skew_t30'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(30).skew())
    data['rolling_kurt_t30'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28).rolling(30).kurt())
    
    # price features
    data['lag_price_t1'] = data.groupby(['id'])['sell_price'].transform(lambda x: x.shift(1))
    data['price_change_t1'] = (data['lag_price_t1'] - data['sell_price']) / (data['lag_price_t1'])
    data['rolling_price_max_t365'] = data.groupby(['id'])['sell_price'].transform(lambda x: x.shift(1).rolling(365).max())
    data['price_change_t365'] = (data['rolling_price_max_t365'] - data['sell_price']) / (data['rolling_price_max_t365'])
    data['rolling_price_std_t7'] = data.groupby(['id'])['sell_price'].transform(lambda x: x.rolling(7).std())
    data['rolling_price_std_t30'] = data.groupby(['id'])['sell_price'].transform(lambda x: x.rolling(30).std())
    data.drop(['rolling_price_max_t365', 'lag_price_t1'], inplace = True, axis = 1)
    
    # time features
    data['date'] = pd.to_datetime(data['date'])
    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['week'] = data['date'].dt.week
    data['day'] = data['date'].dt.day
    data['dayofweek'] = data['date'].dt.dayofweek
    
    return data

In [45]:
data_df = transform(data_df)
data_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,0,train,2011-01-29,11101,30,4,4,2,0,0,0
1,HOBBIES_1_002_CA_1_validation,1438,3,1,0,0,0,train,2011-01-29,11101,30,4,4,2,0,0,0
2,HOBBIES_1_003_CA_1_validation,1439,3,1,0,0,0,train,2011-01-29,11101,30,4,4,2,0,0,0
3,HOBBIES_1_004_CA_1_validation,1440,3,1,0,0,0,train,2011-01-29,11101,30,4,4,2,0,0,0
4,HOBBIES_1_005_CA_1_validation,1441,3,1,0,0,0,train,2011-01-29,11101,30,4,4,2,0,0,0

In [46]:
data_df = feature_engineering(data_df)

KeyError: 'Column not found: sell_price'